.jumbotron {
	background-color: #56f0e0;
	color: black;
	margin-top: 50px;
}
.btn {
	color: black;
	background-color: #cdcdcd;
}

footer {
	padding: 10px 10px 0 10px;
	background-color: #ede4ca;
	margin-bottom: 0px;
	margin-top: 20px;
}
.card-hotel {
	flex: 1 200px;
	margin-top: 10px;
}
.btn-reserva {
	width: 100%;
	border-radius: 0px;
}
.button-plus-icon {
	padding-right: 10px;
}
.footer-address-icon {
	padding-right: 5px;
}
.img-fluid {
	width: 100%; 
	height:100%;
}
.tab-content {
	padding-top: 10px;
}