.jumbotron {
  background-color: #8eadde;
  color: black;
  margin-top: 50px;
  margin-botton: 0px;
}
.btn {
  color: black;
  background-color: #f7e4e6;
}
footer {
  padding: 10px 10px 0 10px;
  background-color: #eaf09e;
  margin-top: 20px;
  margin-botton: 0px;
}
.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
  margin-botton: 0px;
}
.btn-reserva {
  width: 100%;
  border-radius: 0px;
}
.button-plus-icon {
  padding-right: 10px;
}
.footer-address-icon {
  padding-right: 5px;
}
.img-fluid {
  width: 100%;
  height: 100%;
}
.tab-content {
  padding-top: 10px;
}
