$blue: #56f0e0;
$yellow:#eaf09e;
$red:#cdcdcd;

@mixin margenes ($top, $botton) {
	
	margin-top: $top;
	margin-botton: $botton;
}

.jumbotron {
	background-color: $blue;
	color: black;
	@include margenes(50px, 0px);
}
.btn {
	color: black;
	background-color: $red;
}

footer {
	padding: 10px 10px 0 10px;
	background-color: $yellow;
	@include margenes(20px, 0px);
}
.card-hotel {
	flex: 1 200px;
	@include margenes(10px, 0px);
}
.btn-reserva {
	width: 100%;
	border-radius: 0px;
}
.button-plus-icon {
	padding-right: 10px;
}
.footer-address-icon {
	padding-right: 5px;
}
.img-fluid {
	width: 100%; 
	height:100%;
}
.tab-content {
	padding-top: 10px;
}